* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

footer{
    max-width: 1200px;
    height: 207px;
    background-color: #ff7f00;      
}

header{
    max-width: 1200px;
    height: 66px;
    background-color: #ff7f00;
}

.main-container{
    max-width: 1200px;
    height: 600px;
    background-color: #ffffff;
}

.btn-container{
    /* background-color: aqua; */
    margin-top: 20px;
    width: 375px;
    height: 550px;

}

.secondery-container{
    
    height: 600px;
    width: 1200px;

    background-color: #e3e3e3;
}



img {
    display: none;
    height: 150px;
    width: 150px;
}

/* #my-canvas {
    margin-left: 50px;
} */

canvas{
    width: 90%;
}

.canvas-container{ 
    margin-top: 20px;
    max-width:540px;
    height:550px;
}


.btn-container button{
    margin: 10px;
    max-width: 60px;
    min-height: 60px;
    border-radius: 12px;
    background-color: #ffffff;
    cursor: pointer;
    border: 0;
}

.btn-container input{
    margin: 10px;
    min-width: 60px;
    min-height: 60px;
    border-radius: 12px;
    background-color: #ffffff;
    cursor: pointer;
    border: 0;
}




.btn-container select{
    margin: 10px;
    max-width: 60px;
    min-height: 60px;
    border-radius: 12px;
    background-color: #ffffff;
    border: 0;

}

.btn-con{
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr ;
}

.font-select {
    margin: 10px;
    width: 120px;
    height: 60px;
    border-radius: 12px;
    background-color: #ffffff;
    border: 0;
}

input {
    max-width: 120px;
    height: 60px;
    border-radius: 12px;
    background-color: #ff7f00;
}

div input {
    max-width: 373px;
    height: 60px;
    border-radius: 12px;
    background-color: #ffffff;

    font-family: monospace;
    font-size: 20px;
    color: #000000;
}



/* header */

.toggle-menu-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.75rem;
    padding: 20px;
    display: none;
}

header .header-wrapper {
    height: 65px;
    background-color: #ff7f00;
    max-width: 1200px;
}
  
.logo{
    margin-left: 50px;
    
}
.logo img{
    height: 30px;
}
  
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-menu{
    margin-right: 40px;
}
  
.nav-option{
    width: 60px;
    height: 16px;
    font-size: 19px;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    margin: 15px;
    /* font-family: ; */
}

.input-color{
    display: none;
}
  
nav li:first-child{
    border-right: 1px solid #ffffff ;
}
  
.toggle-menu-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.75rem;
    padding: 20px;
    display: none;
}


/**/


/* footer */
.rights{
    width: 206px;
    height: 19px;
    font-family: monospace;
    font-size: 19px;
    font-weight: 100;
    margin-left: 50px;
    text-align: center;
    color: #ffffff;
}





@media (max-width: 600px){

    /*header*/

    .toggle-menu-btn {
        display: block;
    }

    .main-menu > *{
        display: none;
    }


    /* secondery */

    .secondery-container{
        flex-direction: column;
        height: 700px;
    }
    canvas{
        margin: auto;
        height: 300px;
        max-width: 300px;
        width: 95% ;
    }

    /* btn container */

    .btn-container{
        margin: auto;
        margin-top: 10px;
        max-width: 300px;
        width: 100%;
        height: 350px;
    
    }

    .btn-container button{
        margin: 5px;
        max-width: 45px;
        min-height: 45px;
        border-radius: 12px;
        background-color: #ffffff;
        cursor: pointer;
    }

    div input {
        max-width: 330px;
        height: 35px;
        border-radius: 12px;
        background-color: #ffffff;
        font-family: monospace;
        font-size: 16px;
        color: #000000;
    }

    .canvas-container{ 
        margin-top: 10px;
        max-width:540px;
        height:300px;
    }

    
    .btn-container select{
        margin: 5px;
        max-width: 45px;
        min-height: 45px;
        border-radius: 12px;
        background-color: #ffffff;
        
    }
    
    .font-select {
        margin: 5px;
        width: 120px;
        height: 45px;
        border-radius: 12px;
        background-color: #ffffff;
    }
  
    




}



