* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

footer{
    width: 1200px;
    height: 207px;
    background-color: #ff7f00;      
}

header{
    width: 1200px;
    height: 66px;
    background-color: #ff7f00;
}

.main-container{
    margin-top:20px;
    width: 1200px;
    height: 600px;
    background-color: #ffffff;
}

.btn-container{
    background-color: aqua;
    width: 375px;
    height: 550px;

}

.secondery-container{
    height: 550px;
    width: 1200px;
    margin: 0 135px 50px 20px;
    background-color: #ffffff;
}



img {

    display: none;
    height: 150px;
    width: 150px;
}

/* #my-canvas {
    margin-left: 50px;
} */

.canvas-container{ 
    width:540px;
    height:550px;
}
